<div>
	<div><h1>Welcome to the KW Expense Report System!</h1></div>
	<div>
		<a routerLink="/reportExpenses">Submit an expense report</a><br />
	<div *ngIf="loggedIn; then thenBlock else elseBlock"></div>
	<ng-template #thenBlock>
		<a routerLink="/logIn">Approve Documents</a><br />
		<a routerLink="/logIn">View past submissions</a>
	</ng-template>
	<ng-template #elseBlock>
		<a routerLink="/logIn">Please log in for more options</a><br />
	</ng-template>
	<div *ngIf="sessionToken">
		<p>{{ sessionToken }}</p>
	</div>
</div>
