<div>
	<div>
		On which category did you sepend money?
		<div>
			<form (submit)="submit()" name="categories">
				<div *ngFor="let category of categories; let i = index">
					<span>
						<label for="category+{{ i }}">항목: </label>
						<input
							[(ngModel)]="category.categoryName"
							placeholder="항목"
							name="category+{{ i }}"
						/>
					</span>
					<span>
						<label for="amount+{{ i }}">금액</label>
						<input
							[(ngModel)]="category.amount"
							placeholder="금액"
							name="amount+{{ i }}"
						/>
					</span>
					<span>
						<label for="remarks+{{ i }}">비고</label>
						<input
							[(ngModel)]="category.remarks"
							placeholder="비고"
							name="remarks+{{ i }}"
						/>
					</span>
					<span>
						<button (click)="categories.splice(i, 1)">Romeve</button>
					</span>
				</div>
			</form>
			<button (click)="addRow()">Add Row</button>
			<button (click)="submit()" type="submit">Submit</button>
		</div>
	</div>
</div>
